CREATE TABLE pet_photos (id INT AUTO_INCREMENT PRIMARY KEY, pet_id INT NOT NULL, photo_url VARCHAR(255) NOT NULL, uploaded_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, FOREIGN KEY (pet_id) REFERENCES pets(id) ON DELETE CASCADE);
